/*---------------------------------------->
<-- Laura Paglione (MENTOR)             -->
<-- NanoHacker Academy                  -->
<-- Fall 2018: JS.01                    -->
<-- March, 2018                         -->
<-- styles/style.css                    -->
<--------------------------------------- */

/* General Styling */
/* My palette: http://paletton.com/#uid=5190u0kllllc+uyhapXpwgJtGc8; */
body {
  /* Font styling */
  font-family: 'BioRhyme Expanded', Helvetica, sans-serif;
  color: #F3C891;
  margin: 0px 15px 15px 15px;
  font-size: 1em;

  margin: 10px 25px 15px 35px;

  /* Background */
  background: #AA7839;
}

p {
  padding: 0px 0px 15px 0px;
}

h1 {
  text-decoration: overline;
  text-shadow: 2px 2px #613907;
  color: #F3E991;
}
img {
  /*center/500px;*/
  max-width: 500px;
  border: 15px solid #AA8C39;
  filter: drop-shadow(10px 10px 15px #613907);
}

a {
}

ul {
  list-style: square;
}

input.defaultstyle {
  color: #F3C891;
  background-color: #af8a59;
  border: 2px solid #F3E991;
  font-family: 'BioRhyme Expanded', Helvetica, sans-serif;
}

input[type="text"] {
  width: 350px;
}
