/*---------------------------------------->
<-- Laura Paglione (MENTOR)             -->
<-- NanoHacker Academy                  -->
<-- Fall 2018: JS.01                    -->
<-- March, 2018                         -->
<-- styles/style.css                    -->
<--------------------------------------- */

/* General Styling */
body {
  font-family: Helvetica, sans-serif;
  color: #4C6700;
  margin: 0px 15px 15px 15px;
  font-size: 1em;
}